.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 36%
    right: 76%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 38%
    right: 3%
  &-3
    animation: float1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 76%
    right: 4%
@keyframes float1
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)
  

.banner-principal__row .banner-principal__img
  max-width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption, table caption
  font-weight: normal 
.barra-avance__boton--regresar span
  color: white !important


.banner-interno__fondo
  background-image: url('../assets/curso/portada/mini-portada.png') !important
.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: #12263F
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.w-fit
  width: fit-content
.columns-2
  columns: 2
.tc-sec 
  color: $color-secundario !important
.tc-ac 
  color: $color-acento-contenido !important
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important


.bg-1
  background-color: #F0E6E6
.bg-2
  background-color: #FFF3C3
.bg-3
  background-color: #D2B5B5
.bg-4
  background-color: #EEF0E7
.bg-5
  background-color:  #4B0708
.bg-6
  background-color:  #665203
.bg-7
  background-color: #FFFBEB
.bg-8
  background-color: #CCD2B8
.bg-9
  background-color:   #D4D38F
.bgi-1
  background-image: url('../assets/curso/temas/t1/bg1.png')
  background-size: cover
  background-repeat: no-repeat
.bgi-2
  background-image: url('../assets/curso/temas/t2/2.jpg')
  background-size: cover
  background-repeat: no-repeat
.bgi-3
  background-image: url('../assets/curso/temas/t3/bg.png')
  background-size: cover
  background-repeat: no-repeat
.bgi-4
  background-image: url('../assets/curso/temas/t5/bg.png')
  background-size: cover
  background-repeat: no-repeat
.bgcolor-1
  background: #586C16
  background-position: bottom
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgs-1
  background-image: url('../assets/curso/temas/t1/bg2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 


.w-90
  width: 90px  
.ico-lista 
  img
    width: 6%
    margin-right: 10px
    position: relative
    top: 5px  
    max-width: 34px
  span
    width: 94%
.txt-1
  position: absolute
  bottom: 0
  @media (max-width: $bp-max-sm)
    position: relative
.pasos-b 
  &__header__btn--left, &__header__btn--right
    background-color: #DF1718
    border-color: #DF1718
    i
      color: white
.linea-tiempo-d 
  &__item__number, &__item__content__title
    background-color: #F0E6E6
  &__item__dots:after
    border-color: #D2B5B5
  &__item--selected .linea-tiempo-d__item__content, &__item--selected .linea-tiempo-d__item__content__title
    background-color: #FFF3C3 
.slyder-f__btn  
  i
    color: #DF1718
.subt 
  background-color: #EEF0E7
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  width: fit-content
  img
    width: 50px
    z-index: 99
  .deco  
    position: relative
    &::before
      content: ''
      position: absolute
      width: 30px
      height: 100%
      background-color: #586C16
      border-top-right-radius: 100px
      border-bottom-right-radius: 100px
      left: 0px
      top: 0px
.subt2
  background-color: #EEF0E7
  width: fit-content
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
  border-left: 5px solid #586C16
.tabla-a
  &.text-start
    td
      text-align: left !important
      padding: 20px
.acordion
  &__activo
    background-color: #FFFBEB
    .acordion__accion__btn--b 
      background-color: #586C16
      border-color: #586C16
      color: white
  .acordion__accion__btn--b
    background-color: #DF1718
    border-color: #DF1718
    color: white
.tabs-a.color-acento-botones 
  .tabs-a__tab
    background-color: #DF1718
    color: white
    &__selected, &:hover
      background-color: #FFEBEB
      color: $color-sistema-texto
      &:before
        background-color: #FFEBEB
    &__text
      text-wrap: auto
      line-height: 1.3
.tabs-b
  border-bottom: 4px solid #586C16
  &__tab
    background-color: #FFFBEB
    &:active, &:hover
      border-top-color: #F0E6E6 !important
      background-color: #F0E6E6 
    &--active
      border-top-color: #F0E6E6 !important
      background-color: #F0E6E6    
      &:active, &:hover
        border-top-color: #F0E6E6 !important
        background-color: #F0E6E6 
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.tarj-hover .tarjeta
  transition: all 0.3s ease-out
  &:hover
    background-color: #CCD2B8
    transition: all 0.3s ease-out


@media (min-width: $bp-min-xl)
  .col-lg-55
    width: 20%
@media (max-width: $bp-max-sm)
  .banner-principal .tarjeta
    background-color: #6B0B0C !important
    background-image: none !important

